/data

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Virtual environments
venv/
.env/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

src/node.log